{% extends 'parkinglist/layout2.html' %}

{% block content %}

<br><br>
<table class="w3-table w3-bordered">
    <tr>
        <th>차량번호</th>
        <th>위치</th>
        <th>출입</th>
        <th>퇴장</th>
        <th>요금</th>
        <th>현재유무</th>
    </tr>
    {% for car_searched in car.all %}
    {% if car_searched.currexist == 1 %}
    <tr style="color:red">
    {% else %}
    <tr>
    {% endif %}
        <td>{{car_searched.carno}}</td>
        {% if car_searched.currexist == 1 %}
        <td><a href="/parkinglist/{{car_searched.sectionno}}">{{car_searched.sectionno}}</a></td>
        {% else %}
        <td>{{car_searched.sectionno}}</td>
        {% endif %}
        <td>{{car_searched.parkingtime}}</td>
        {% if car_searched.exittime == None %}
        <td>없음</td>
        {% else %}
        <td>{{car_searched.exittime}}</td>
        {% endif %}
        <td>{{car_searched.cost}}</td>
        {% if car_searched.currexist == 1 %}
        <td>O</td>
        {% else %}
        <td>X</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}