{% extends 'parkinglist/layout.html' %}

{% block content %}
    {% for x in car2darray %}
    <table style="display:inline; padding:50px">
        <caption>구역 {{ forloop.counter }}</caption>
        {% for y in x %}
            <tr>
                {% for z in y %}
                    <td style="background-color:{{ z.exist }}">
                        {{z.num}}
                    </td>
                    {% if z.num in line %}
                        <td rowspan="11" style="padding: 10px;"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% if forloop.counter == 5 %}
            <tr>
                <td colspan="14" style="padding: 10px;"></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endfor %}
    
{% endblock %}