<!DOCTYPE html>
<html>
<head>
    <title>주차관리시스템</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <!--상단 메뉴-->
    <div class="w3-top w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button">주차관리시스템</a>
        <div class="w3-right w3-small">
        <a href="/parkinglist/search" class="w3-bar-item w3-button">검색</a>
        <a href="/parkinglist/adv_search" class="w3-bar-item w3-button">특수검색</a>
        <a href="/parkinglist/check" class="w3-bar-item w3-button">만료차량 조회</a>
        <a href="/parkinglist/records/1" class="w3-bar-item w3-button">차량기록관리</a>
        <a href="/parkinglist/stats" class="w3-bar-item w3-button">통계</a>
        <a href="/admin/" class="w3-bar-item w3-button">관리자</a>
        </div>
    </div>
    <!--상단 메뉴-->

    <!--본문-->
    <div style="margin:100px">
        {% block content %}
        {% endblock %}
    </div>
    <!--본문-->

    <!--하단풋터-->
    <div class="w3-bottom w3-bar w3-white w3-wide w3-padding w3-card">
        <footer class="w3-center">
        &copy; 소프트웨어공학 7조
        </footer>
    </div>
    <!--하단풋터-->
</body>
</html>