{% extends 'parkinglist/layout2.html' %}

{% block content %}
<b>
    차량기록
</b>
<br><br>
{% if not car %}
<p>데이터 없음</p>
{% else %}
<table class="w3-table w3-bordered">
    <tr>
        <th>차량번호</th>
        <th>출입</th>
        <th>퇴장</th>
        <th>요금</th>
        <th>현재유무</th>
        <th>주차자리</th>
    </tr>
    {% for car_searched in car %}
    {% if car_searched.currexist == 1 %}
    <tr style="color:red">
    {% else %}
    <tr>
    {% endif %}
        {% for idx in car_searched %}
            <!--현재유무-->
            {% if forloop.counter == 5 %}
                {% if idx == 0 %}
                <td>X</td>
                {% else %}
                <td>O</td>
                {% endif %}
            <!-- skip for idx number -->
            {% elif forloop.counter == 7 %}
            {% else %}
                <td>{{idx}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br><br>

{% if display|first > 10 %}
<a class="w3-button" href="/parkinglist/records/{{display.0|add:'-10'}}"><<</a>
{% endif %}

{% for x in display %}
    <!-- 루프 인덱스(x)가 전체 페이지개수 이하일 경우에만 출력 -->
    {% if x <= totalpagecount %}
    <a class="w3-button" href="/parkinglist/records/{{x}}">    
        {% if x == page %}    
        <b>{{x}}</b>
        {% else %}
        {{x}}
        {% endif %}
    </a>
    {% endif %}
{% endfor %}

{% if display|last < totalpagecount %}
<a class="w3-button" href="/parkinglist/records/{{display.0|add:'10'}}">>></a>
{% endif %}

{% endif %}
{% endblock %}