__pycache__/
htmlcov/
migrations/
.vscode/
tests/

*.coverage
*.gcloudignore
*(backup).py
*.log
*.sqlite3
parkinglist/parkfunctions_enter.py
parkinglist/parkfunctions_exit.py
*(backup).py
requirements.txt
